:root {
  --brand-color-one: #2196f3;
  --dark-background-color: #2f303a;
  --light-background-color: #ffffff;
  --main-text-color: #212121;
}

/* ГЛАВНАЯ */
/* main-style */
body {
  font-family: Roboto, Raleway, sans-serif;
  color: var(--main-text-color);
}

/* Цвета верхней части страницы */
.head {
  background-color: var(--light-background-color);
}
/* logo */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

/* part of logo */
.part-logo {
  color: var(--brand-color-one);
}

.part-logo-two {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--light-background-color);
}

/* навигационные ссылки */
.links {
  list-style: none;
}
.navigation-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
}

/* ссылки с телефоном и почтой */
.adresses-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

/* Ссылки и адресы при наведении и нажатии*/
.links .navigation-links:hover,
.links .navigation-links:focus,
.links .navigation-links:active {
  color: #2196f3;
}

.links .adresses-links:hover,
.links .adresses-links:focus,
.adresses-links:focus {
  color: #2196f3;
}

/* Оформление секции "Герой" */
.hero {
  background-color: var(--dark-background-color);
}

/* Текст заголовка */
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: #ffffff;
}

/* Оформление кнопки героя */
.hero-button {
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  background-color: #2196f3;
}

/* Наши преимущества */
.benefits-list {
  list-style: none;
}
.benefits-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Описание преимуществ */
.benefits-paragraph {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Чем мы занимаемся */
.do {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-text-color);
}

.do-list {
  list-style: none;
}

/* Наши сотрудники */
.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-list {
  list-style: none;
}
.team-worker {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-profession {
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Адресы в футере */
.adress {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* Оформление футера */
.footer {
  background-color: var(--dark-background-color);
}

/* Оформление цвета ссылок */
.footer-links {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-links:hover,
.footer-links:focus {
  color: #2196f3;
}

/* ПОРТФОЛИО */
/* Кнопки выбора типа портфолио */
.button {
  cursor: pointer;
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.projects-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.projects-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
